<section id="testimonial" class="alizarin">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="center">
                    <h2>Conforto!</h2>
                </div>
                <div class="gap"></div>
                <div class="row">
                    <div class="col-md-6">
                        <blockquote>
                            <p>Melhore a qualidade de vida da sua família</p>

                        </blockquote>
                        <blockquote>
                            <p>Tá cansado?Vai deitar, r2-pi2 faz tudo sozinho</p>

                        </blockquote>
                    </div>
                    <div class="col-md-6">
                        <blockquote>
                            <p>Siilencioso.</p>
                        </blockquote>
                        <blockquote>
                            <p>Limpa os cantinhos mais difíceis</p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/#testimonial-->
