<section id="testimonial" class="alizarin">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="center">
                    <h2>Limpeza e Conforto</h2>
                </div>
                <div class="gap"></div>
                <div class="row">
                    <div class="col-md-6">
                        <blockquote>
                            <p>Melhore a qualidade de vida da sua família</p>

                        </blockquote>
                        <blockquote>
                            <p>Tá cansado? Vá deitar enquanto o R2-PI2 faz tudo sozinho</p>

                        </blockquote>
                    </div>
                    <div class="col-md-6">
                        <blockquote>
                            <p>Silencioso.</p>
                        </blockquote>
                        <blockquote>
                            <p>Não precisa nem carregar! Ele faz isso sozinho!</p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/#testimonial-->
