<%= stylesheet_link_tag "foundation-datepicker" %>
<table class="table">
	<thead>
		<tr>
			<th>Data de Aspiração&nbsp;
				<a href="#" class="button tiny" id="dp4" data-date-format="yyyy-mm-dd" data-date="2016-10-20" style="margin-left-2px;background-color:#000099">Alterar</a>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td id="startDate" style="text-align:center">2016-10-20</td>
		</tr>
	</tbody>
</table>
<div class="alert alert-box"  style="display:none;" id="alert">	<strong>Oh snap!</strong>
</div>
<script>
$(function(){
  // implementation of custom elements instead of inputs
	var startDate = new Date(2016, 1, 20);
	$('#dp4').fdatepicker()
		.on('changeDate', function (ev) {
		$('#alert').hide();
		startDate = new Date(ev.date);
		$('#startDate').text($('#dp4').data('date'));
		$('#dp4').fdatepicker('hide');
	});
});
</script>