
<div id="top"></div>
<div class="contain-to-grid sticky">
    <nav class="top-bar" data-topbar>
        <ul class="title-area">
            <li class="name">
                <h1>
                    <a href="#">R2-PI2</a>
                </h1>
            </li>
            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon">
                <a href="#">
                    <span>Menu</span>
                </a>
            </li>
        </ul>
        <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul id="nav" class="right">
              <% if user_signed_in? %>
                    <li>
                      <%= link_to "Encerrar Sessão", destroy_user_session_path, method: :delete %>
                    </li>
                    <li>
                      <%= link_to "Agendar", aspirador_agendar_path %>
                    </li>
                  <% else %>
                    <li>
                      <%= link_to "Entrar", new_user_session_path %>
                    </li>
              <% end %>
                <li>
                    <a href="/">Home</a>
                </li>

                <li>
                    <a href="#about">Sobre o R2-PI2</a>
                </li>
            </ul>

        </section>
    </nav>
</div>
